/*
o intuito deste arquivo é padronizar o estilo
base de um html simples entre todos os navegadores.

apesar de eu não ter comentado em sala de aula, cada navegador
tem uma mínimo de espaços e tamanho de fontes. O problema
que isto muda de navegador para navegador, ai usamos essa
técnica de "reset" para garantir que todos partirão da mesma
base de tamanhos.
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
